@font-face {
    font-family: 'chess-adventurer';
    src: url("../fonts/chess/adventur/AVENFONT.TTF") format('truetype');
}
@font-face {
    font-family: 'chess-cases';
    src: url("../fonts/chess/cases/CASEFONT.TTF") format('truetype');
}
@font-face {
    font-family: 'chess-mark';
    src: url("../fonts/chess/chesmark/MARKFONT.TTF") format('truetype');
}
@font-face {
    font-family: 'chess-condal';
    src: url("../fonts/chess/condal/CONDFONT.TTF") format('truetype');
}
@font-face {
    font-family: 'chess-kingdom';
    src: url("../fonts/chess/kingdom/KINGFONT.TTF") format('truetype');
}
@font-face {
    font-family: 'chess-magnetic';
    src: url("../fonts/chess/magnetic/MAGNFONT.TTF") format('truetype');
}